<!DOCTYPE HTML>
<html>
	<head>

		<link type="text/css" href="/css/redmond/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap-responsive.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/core/system_styles.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/core/jquery.autocomplete.css" rel="Stylesheet" />	
		
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/js/core_design/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery-validation.js"></script>
		<script type="text/javascript" src="/js/globalFunctions.js"></script>
		<script type="text/javascript" src="/js/carousel.js"></script>
		<script type="text/javascript" src="/js/ajaxupload.js"></script>
		
		<!--FANCY BOX -->
		<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<link type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" rel="Stylesheet" />	

	<!-- 	agile upload	-->
		<script src="/js/agile/jquery.flash.min.js" type="text/javascript"></script>
		<script src="/js/agile/agile-uploader-3.0.js" type="text/javascript"></script>
		<link type="text/css" rel="stylesheet" href="/js/agile/agile-uploader.css" />		
		
		<?php echo $this->javascriptHelper(); ?>
		<?php echo $this->cssHelper(); ?>
		<?php include APPLICATION_PATH.'/../public/js/validateMessages.php';?>	 
		<?php include APPLICATION_PATH.'/../public/js/agileMessages.php';?>	 
		<?php include APPLICATION_PATH.'/../public/js/calendar.php';?>
		<script type="text/javascript">
			var document_root = '<?php echo APPLICATION_PATH.'/../'; ?>';
		</script>	 
	 	<?php $lang = Zend_Registry::get('Zend_Translate');?>	 
  		<meta http-equiv="content-type" content="text/html; charset=utf-8">
  		<title>WicaWeb</title>
  			
		<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
	
	
	<!-- highslide -->
	<script src="/js/highslide/highslide.js" type="text/javascript"></script>
	<script type="text/javascript">    
    	hs.graphicsDir = '../../js/highslide/graphics/';
	</script>	
	
	<!--CKEDITOR-->
	<script src="/js/ckeditor/ckeditor.js" type="text/javascript"></script>
	<script src="/js/ckeditor/adapters/jquery.js" type="text/javascript"></script>	
	<!--CKEDITOR-->			
	
	<script src="/js/jquery.exptextarea.js" type="text/javascript"></script>
</head>
  	<body>
  		<div class="container-fluid">
  			<div class="row-fluid header_container">
  				<?php echo $this->partial("partials/header.phtml"); ?>					
			</div>
			
			<?php if(!$this->page): $this->page = 'other_pages'; endif;?>
			<?php if($this->page != 'controlpanel'):?>
				<div class="row-fluid quick_links_container">
	  				<?php 
	  					$this->user_modules = '';
	  					$id = New Zend_Session_Namespace('id');
	  					if($id->user_modules)
	  						$this->user_modules = $id->user_modules
	  				?>
					<?php echo $this->partial("partials/quicklinks.phtml", array('page' => $this->page, 'user_modules' => $this->user_modules)); ?>
				</div>
			<?php endif;?>
			
			<?php if($this->displaysectionbar) : ?>
				<div class="row-fluid section_bar_container">
	  				<?php echo $this->partial("partials/sectionbar.phtml", array('display' => $this->displaysectionbar, 'cms_profile_opt' => $this->cms_links)); ?>					
				</div>
			<?php endif;?>

			<div class="row-fluid">		
				<?php if($this->data):?>		
				<div class="span2">
					<?php echo $this->partial("partials/sections.phtml",array('sections' => $this->data)); ?>
				</div>	
				<div class="span10" id="section_content">
					<div class="row-fluid well-searchbar">
						<?php echo $this->partial("partials/searchbar.phtml", array('display' => $this->displaysectionbar)); ?>
					</div>
					<div class="row-fluid" id="cms_container">											  
			    		<?php echo $this->layout()->content; ?>
				    </div>
				</div>			
				<?php else:?>
				<div class="span12">					
					<div class="row-fluid" id="cms_container">											  
			    		<?php echo $this->layout()->content; ?>
				    </div>
				</div>
				<?php endif;?>
			</div>
		</div>			  
	</body>
</html>