<!DOCTYPE HTML>
<html>
	<head>
	
		<link type="text/css" href="/css/redmond/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap.min.css" rel="Stylesheet" />	
		<link type="text/css" href="/css/core_design/bootstrap-responsive.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/core/system_styles.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/core/jquery.autocomplete.css" rel="Stylesheet" />	
		
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/js/core_design/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery-validation.js"></script>
		<script type="text/javascript" src="/js/globalFunctions.js"></script>
		<script type="text/javascript" src="/js/carousel.js"></script>
		
		<!--FANCY BOX -->
		<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<link type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" rel="Stylesheet" />	
		
		<?php echo $this->javascriptHelper(); ?>
		<?php echo $this->cssHelper(); ?>
		<?php include APPLICATION_PATH.'/../public/js/validateMessages.php';?>	 
		<?php include APPLICATION_PATH.'/../public/js/calendar.php';?>
		<script type="text/javascript">
			var document_root = '<?php echo APPLICATION_PATH.'/../'; ?>';
		</script>	 
	 	<?php $lang = Zend_Registry::get('Zend_Translate');?>	 
  		<meta http-equiv="content-type" content="text/html; charset=utf-8">
  		<title>Login</title>
	
		<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
</head>
  	<body>
  		<div class="container-fluid">
		  	<div class="row-fluid">
				<div class="span12 center line">
					<h1>WICAWEB </h1>
				</div>
		  	</div>
		  	<div class="row-fluid">
		  		<!--<div class="span12 center_wica_form"> -->
		  			<?php echo $this->layout()->content;?>
		  		<!-- </div> -->
	  		</div>
	  	</div>
	</body>
</html>