 <?php $lang = Zend_Registry::get('Zend_Translate');?>

<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" href="/css/redmond/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap-responsive.min.css" rel="Stylesheet" />	
		<link type="text/css" href="/css/modules/default/front_styles.css" rel="Stylesheet" />		
		<link type="text/css" href="/css/modules/default/menu-style.css" rel="Stylesheet" />
				
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/js/core_design/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery-validation.js"></script>
		
		<!--FANCY BOX -->
		<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<link type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" rel="Stylesheet" />			
		
		<!-- highslide -->
		<script src="/js/highslide/highslide.js" type="text/javascript"></script>
		<script type="text/javascript">    
	    	hs.graphicsDir = '../../js/highslide/graphics/';
		</script>		
		
		<?php include APPLICATION_PATH.'/../public/js/validateMessages.php';?>
  
		<?php echo $this->javascriptHelper() ?>  
		<?php echo $this->externalJavascriptHelper(); ?> 
		<?php echo $this->templateJavascriptFilesHelper(); ?> 
		 
		<?php echo $this->cssHelper() ?>
		<?php echo $this->externalCssHelper(); ?>  
		<?php echo $this->templateCssFilesHelper(); ?> 
		
		<?php include APPLICATION_PATH.'/../public/js/calendar.php';?>
		
  		<?php if($this->header['meta_descr'] != ''): ?>
  			<meta name="description" content="<?php echo $this->header['meta_descr'];?>" />	
  		<?php endif;?>
  		  		
  		<?php if($this->header['meta_keywords'] != ''): ?>
  			<meta name="keywords" content="<?php echo $this->header['meta_keywords'];?>" />	
  		<?php endif;?>
  		
  		<?php if($this->header['meta_author'] != ''): ?>
  			<meta name="author" content="<?php echo $this->header['meta_author'];?>" />	
  		<?php endif;?>
  		
  		<meta http-equiv="content-type" content="text/html; charset=utf-8">  		
  		<title><?php echo $this->header['name'];?> <?php if($this->title_browser != ''): echo ' - '.$this->title_browser; endif;?></title>
  		<?php if($this->header['icon']):?> 
  			<link href="/uploads/website/<?php echo $this->header['icon'];?>" type="image/ico" rel="shortcut icon">
  		<?php endif;?> 
	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<?php if($this->state['type'] == 'online'): ?>					
					<?php echo $this->layout()->content; ?>										  				
				<?php else: ?>
					<?php if($this->state['type'] == 'offline'):?>
						<div class="center">
							<h1><?php echo $this->state['display_text']; ?></h1>
							<?php if($this->state['display_text']):?>
								<img src="/uploads/website/<?php echo $this->state['image']?>" />
							<?php endif;?>
						</div>
					<?php endif;?>
					<?php if($this->state['type'] == 'comingsoon'):?>
						<div class="center">
							<h1><?php echo $this->state['display_text']; ?></h1>
							<?php if($this->state['display_text']):?>
								<img src="/uploads/website/<?php echo $this->state['image']?>" />
							<?php endif;?>
						</div>
					<?php endif;?>
					<?php if($this->no_websites=='no'): ?>
						<?php echo $this->layout()->content; ?>
					<?php endif; ?>
				<?php endif;?>						  
			</div>
		</div>
		<!-- Analytics Code -->
		<?php if($this->header['analytics'] != ''):?>
			<script type="text/javascript">
			  	var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', '<?php echo $this->header['analytics'];?>']);
				  _gaq.push(['_trackPageview']);
				
				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
			</script>
		<?php endif;?>	  
	</body>
</html>
