<!DOCTYPE HTML>
<html>
	<head>

		<link type="text/css" href="/css/redmond/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/core_design/bootstrap-responsive.min.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/installer/installer_styles.css" rel="Stylesheet" />
		<link type="text/css" href="/css/modules/core/jquery.autocomplete.css" rel="Stylesheet" />	
		
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/js/core_design/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery-validation.js"></script>
		<script type="text/javascript" src="/js/globalFunctions.js"></script>
		<script type="text/javascript" src="/js/carousel.js"></script>
		<script type="text/javascript" src="/js/ajaxupload.js"></script>
		
		<!--FANCY BOX -->
		<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<link type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" rel="Stylesheet" />	
		
		<?php echo $this->javascriptHelper(); ?>
		<?php echo $this->cssHelper(); ?>
		<?php include APPLICATION_PATH.'/../public/js/validateMessages.php';?>	 
		
		<script type="text/javascript">
			var document_root = '<?php echo APPLICATION_PATH.'/../'; ?>';
		</script>	 
	 	<?php $lang = Zend_Registry::get('Zend_Translate');?>	 
  		<meta http-equiv="content-type" content="text/html; charset=utf-8">
  		<title><?php echo $lang->translate('WicaWeb Installer');?> </title>
</head>
  	<body>
  		<div class="container-fluid">
  			<div class="row-fluid header_container line">
  				<?php echo $this->partial("partials/header.phtml"); ?>					
			</div>
			<div class="row-fluid line">
			<?php if(!$this->preview_install):?>
				<div class="span2" id="instaler_lengend_container">
					<?php echo $this->partial("partials/legend.phtml"); ?>
				</div>	
				<div class="span10" id="wizard">
					<div class="row-fluid" id="wizard_container">
						<?php echo $this->layout()->content; ?>
					</div>	
				</div>
			<?php else:?>
				<div class="span12" id="wizard">
					<div class="row-fluid" id="wizard_container">
						<?php echo $this->layout()->content; ?>
					</div>	
				</div>
			<?php endif;?>
			</div>
		</div>			  
	</body>
</html>