<?php $lang = Zend_Registry::get('Zend_Translate'); ?>
<?php include APPLICATION_PATH.'/../public/js/validateMessages.php';?>


<script type="text/javascript" charset="utf-8">
	//Personalized Error Messages
	var db_test_success = "<?php echo $lang->translate('DB connection successfull');?>";
	var db_test_fail = "<?php echo $lang->translate('Could not connect to the DB with those parameters');?>";
	var php_version_fail = "<?php echo $lang->translate('Your PHP version is lower than 5.1. Please upgrade PHP');?>";
	var mysql_fail = "<?php echo $lang->translate('Could not detect MySQL Server in your server');?>";
	var iniwritable_fail = "<?php echo $lang->translate('Application.ini must be writable');?>";
	var create_db_error = "<?php echo $lang->translate('Could not create DB with those parameters');?>";
	var create_admin_fail = "<?php echo $lang->translate('Could not create superadmin in DB');?>";
	var write_app_success = "<?php echo $lang->translate('Congratulations. The WicaWeb configuration succesfull ');?>";
	var write_app_fail = "<?php echo $lang->translate('The Application.ini file is corrupted');?>";
	var confirm_password_message = "<?php echo $lang->translate('Passwords does not match');?>";
	var loading_msg = "<?php echo $lang->translate('Loading');?>";
	var website_offline_text = "<?php echo $lang->translate('Offline Website');?>";
	var website_soon_text = "<?php echo $lang->translate('Coming Soon Website');?>";
	var advanced_website_fail =  "<?php echo $lang->translate('The installation wrong');?>";
</script>

<div id="loader_spinner">
	<div id="ajax_bg_loader"></div>
	<div class="ajax_loader" id="ajax_loader">
		<img src='/../../../images/ajax_loader.gif'/>
		<h2><?php echo $lang->translate('Loading');?>...</h2>
	</div>

</div>

<div class="well center hide" id="step2_container">
    <div class="row-fluid line">
        <div class="span12">
            <h2><?php echo $lang->translate('Step').' 2: '.$lang->translate('Welcome');?></h2>
        </div>
    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="line-top center bold hide alert alert-error" id="preinstaller_test_msg"></div> 
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>    
    
    <div class="row-fluid line">
        <?php echo $lang->translate('Welcome_Message_Text'); ?>
    </div>
    <div class="row-fluid line">
    	<div class="span2 left">&nbsp;</div>
    	<div class="span8 left">
    		<?php echo $lang->translate('Install_Requirements_Text'); ?>
	        <ul id="pre_instal_req_list" class="left line-top">
	        	<li><?php echo $lang->translate('Php Installed'); ?></li>
	        	<li><?php echo $lang->translate('MySql Installed'); ?></li>
	        	<li><?php echo $lang->translate('Write Permissions on application.ini file').' (777). <br/>'.$lang->translate('File path:')." <b> /application/configs/application.ini  </b>"; ?></li>
	        	<li><?php echo $lang->translate('Write Permissions on the folders').' (777) : <b>'."/public/, /public/uploads/, /public/uploads/cache/, /public/uploads/website/, /public/uploads/template_img/, /public/uploads/content/,
				/public/website/, /public/content/, /public/images/, /public/images/captcha, /public/js/, /public/js/modules/, /public/css/, /public/css/modules/, /public/images/controlPanel/, /application/modules/core/layouts/scripts/partials/, 
	            /public/uploads/, /public/uploads/tmp/, /public/uploads/banners/, /public/uploads/products/, /application/modules/ (Para módulos externos)".'</b>'; ?></li>
	        </ul>
	    </div>
        <div class="span2 left">&nbsp;</div>
    </div>
    <div class="row-fluid line">
        <div class="pull-left">
          <input type="button" id="step2_back" class="btn btn-primary" name="step2_back" value="<?php echo $lang->translate('Back');?>">
        </div>
        <div class="pull-right">
          <input type="button" id="step2_next" class="btn btn-primary" name="step2_next" value="<?php echo $lang->translate('Next');?>">
        </div>
    </div>
</div>

<div class="well center hide" id="step3_container">
	<form action="#" method="post" class="form-horizontal" name="frmInstallStep3" id="frmInstallStep3">
	    <div class="row-fluid line">
	        <div class="span12">
	            <h2><?php echo $lang->translate('Step').' 3: '.$lang->translate('Database Configuration');?></h2>
	        </div>
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="line-top center bold alert alert-info">
	        		<i class="icon-info-sign"></i> <?php echo $lang->translate('DB User must have the corresponding permissions to perform this operation');?>
	        	</div> 
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="line-top center bold hide alert" id="create_db_fail_msg"></div> 
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="control-group">
					<label class="control-label"><?php echo '* '.$lang->translate('Database Name').':';?></label>
					<div class="controls">
						<input type="text" name="db_name" id="db_name">
						<p class="help-block grey"><?php echo $lang->translate('Spaces and Special Chars are not allowed')?></p>
					</div>
				</div>
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	     <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="control-group">
					<label class="control-label"><?php echo '* '.$lang->translate('Database User').':';?></label>
					<div class="controls">
						<input type="text" name="db_user" id="db_user">
					</div>
				</div>
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="control-group">
					<label class="control-label"><?php echo '* '.$lang->translate('Database Password').':';?></label>
					<div class="controls">
						<input type="password" name="db_password" id="db_password">
					</div>
				</div>
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<div class="control-group">
					<label class="control-label"><?php echo '* '.$lang->translate('Database Host').':';?></label>
					<div class="controls">
						<input type="text" name="db_host" id="db_host" value="127.0.0.1">
					</div>
				</div>
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	<input type="button" id="test_connection" class="btn btn-success" name="test_connection" value="<?php echo $lang->translate('Test Connection');?>">
	        	<div class="line-top center bold hide alert" id="test_connection_msg"></div> 
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="span4">&nbsp;</div>	
			<div class="span4">
	        	 <div class="control-group">
					<label class="control-label"><?php echo '* '.$lang->translate("Create Database if it doesn't exist?").':';?></label>
					<div class="controls">
						<div class="btn-group align_to_fields" data-toggle="buttons-radio">
							<input type="button" class="btn btn-primary" id="db_create_yes" value="<?php echo $lang->translate('Yes'); ?>" option="yes">
							<input type="button" class="btn btn-primary active" id="db_create_no" value="<?php echo $lang->translate('No'); ?>" option="no">
						</div>
						<input type="hidden" name="db_new" id="db_new" value="no">
					</div>
				</div>
				<div class="line-top center bold alert alert-info hide" id="root_info_msg_container">
	        		<i class="icon-info-sign"></i> <?php echo $lang->translate('DB User must have root permissions to create a Database');?>
	        	</div>
	      	</div>
	      	<div class="span4">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="pull-left">
	          <input type="button" id="step3_back" class="btn btn-primary" name="step3_back" value="<?php echo $lang->translate('Back');?>">
	        </div>
	        <div class="pull-right">
	          <input type="button" id="step3_next" class="btn btn-primary" name="step3_next" value="<?php echo $lang->translate('Next');?>">
	        </div>
	    </div>
	  </form>
</div>

<div class="well center hide" id="step4_container">
	<form action="#" method="post" class="form-horizontal" name="frmInstallStep4" id="frmInstallStep4">
		<div class="row-fluid line">
	        <div class="span12">
	            <h2><?php echo $lang->translate('Step').' 4: '.$lang->translate('Super Admin Configuration');?></h2>
	        </div>
	    </div>
	    <div class="row-fluid line">
			<div class="span1">&nbsp;</div>
			<div class="span5">
				<div class="row-fluid">
					<div class="control-group">
						<label class="control-label"><?php echo '* '.$lang->translate('Name').':';?></label>
						<div class="controls">
							<input type="text" name="user_name" id="user_name">
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group">
						<label class="control-label"><?php echo $lang->translate('Email').':';?></label>
						<div class="controls">
							<input type="text" name="user_email" id="user_email">
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group">
						<label class="control-label"><?php echo '* '.$lang->translate('Password').':';?></label>
						<div class="controls">
							<input type="password" name="user_password" id="user_password">
						</div>
					</div>
				</div>
	      	</div>
	      	
	      	<div class="span5">
	      		<div class="row-fluid">
		        	<div class="control-group">
						<label class="control-label"><?php echo '* '.$lang->translate('Lastname').':';?></label>
						<div class="controls">
							<input type="text" name="user_lastname" id="user_lastname">
						</div>
					</div>
				</div>
				<div class="row-fluid">
		        	<div class="control-group">
						<label class="control-label"><?php echo '* '.$lang->translate('Username').':';?></label>
						<div class="controls">
							<input type="text" name="user_username" id="user_username" value="admin" disabled="disabled">
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group">
						<label class="control-label"><?php echo '* '.$lang->translate('Confirm Password').':';?></label>
						<div class="controls">
							<input type="password" name="user_conf_password" id="user_conf_password">
						</div>
					</div>
				</div>
	      	</div>
	      	<div class="span1">&nbsp;</div>  
	    </div>
	    <div class="row-fluid line">
	        <div class="pull-left">
	          <input type="button" id="step4_back" class="btn btn-primary" name="step4_back" value="<?php echo $lang->translate('Back');?>">
	        </div>
	        <div class="pull-right">
	          <input type="button" id="step4_next" class="btn btn-primary" name="step4_next" value="<?php echo $lang->translate('Next');?>">
	        </div>
	    </div>
	</form>
</div>



<div class="well center hide" id="step5_container">
	<form action="#" method="post" class="form-horizontal" name="frmInstallStep5" id="frmInstallStep5">
		<div class="row-fluid line">
	        <div class="span12">
	            <h2><?php echo $lang->translate('Step').' 5: '.$lang->translate('Website Configuration Type');?></h2>
	        </div>
	     </div>
	     <div class="row-fluid line">
	        <div class="span12">
	        	<label><?php echo '* '.$lang->translate("Choose one website configuration").':';?></label>
	        </div>
	     </div>
	     <div class="row-fluid line">
	        <div class="span5">&nbsp;</div>
	        <div class="span2">
	        	<div class="btn-group align_to_fields line" data-toggle="buttons-radio">
					<input type="button" class="btn btn-primary" id="website_config_express" value="<?php echo $lang->translate('Express'); ?>" option="express">
					<input type="button" class="btn btn-primary" id="website_config_advanced" value="<?php echo $lang->translate('Advanced'); ?>" option="advanced">
				</div>
				<input type="hidden" name="config_type" id="config_type">
	        </div>
	        <div class="span5">&nbsp;</div>
	     </div>	
	     
	    <div class="row-fluid line">
	    <div class="span3">&nbsp;</div>
	    <div class="span6">
		    <div class="line-top center bold alert alert-info hide" id="exp_config_type_msg">
        		<i class="icon-info-sign"></i> <?php echo $lang->translate('The express configuration shows a form with the basic Website Options');?><br/>
        		<?php echo $lang->translate('To Continue click on').' '.$lang->translate('Next');?>
        	</div>
        	<div class="line-top center bold alert alert-info hide" id="adv_config_type_msg">
        		<i class="icon-info-sign"></i> <?php echo $lang->translate('The advanced configuration will redirect you to the advanced website configuration form');?><br/>
        		<?php echo $lang->translate('To Continue click on').' '.$lang->translate('Next');?>
        	</div>
        </div>
        <div class="span3">&nbsp;</div>
	    </div>
	    
    	<div class="row-fluid line">
	        <div class="pull-left">
	          <input type="button" id="step5_back" class="btn btn-primary" name="step5_back" value="<?php echo $lang->translate('Back');?>">
	        </div>
	        <div class="pull-right">
	          <input type="button" id="step5_next" class="btn btn-primary" name="step5_next" value="<?php echo $lang->translate('Next');?>">
	        </div>
	    </div>
	</form>
</div>

<div class="well center hide" id="step6_container">

</div>
	     

