<!-- 
 *	View that contains a section contents
 *
 * @category   WicaWeb
 * @package    Core_View
 * @copyright  Copyright (c) WicaWeb - Mushoq 
 * @license    GNP
 * @version    1.0
 * @author	   David Rosales
 -->
 
<?php $lang = Zend_Registry::get('Zend_Translate'); ?>

<div class="line-top alert_messages_container">
		<?php echo $this->flashMessages();?>
</div>

<script type="text/javascript" charset="utf-8">
	var delete_question = "<?php echo $lang->translate('All section info and its contents will be deleted. Would you like to continue?');?>";
	var approve_question = "<?php echo $lang->translate('All changes will be published. Would you like to continue?');?>";
	var keep_current_question = "<?php echo $lang->translate('Changes will not take effect. Would you like to continue?');?>";
</script>

<?php if($this->info):?>
<div class="row-fluid">
	<div class="page-header">
		<h1 class='line'><?php echo $this->info['title']; ?></h1>
		<span>
			<?php foreach($this->cms_links as $action_id => $opt): ?>
				<?php if($opt['action']=='edit'): ?>
					<a id="edit_section_<?php echo $this->info['id']; ?>" temp="<?php echo $this->info['temp']; ?>"  editable_section="<?php echo $this->info['editable_section'] ?>" class="pointer" section_id="<?php echo $this->info['id']; ?>" section_parent="<?php echo $this->info['section_parent_id']; ?>" article="<?php echo $this->info['article']; ?>" title="<?php echo $lang->translate('Update'); ?>"> <i class="icon-pencil"></i> </a>
				<?php endif; ?>
				<?php if($opt['action']=='delete'): ?>
					<a id="delete_section_<?php echo $this->info['id']; ?>" class="pointer" title="<?php echo $lang->translate('Delete'); ?>"> <i class="icon-trash"></i> </a>
				<?php endif; ?>
				<?php if($opt['action']=='publish'): ?>
					<?php if($this->available_temp):?>
						<a id="approve_section_<?php echo $this->info['id']; ?>" class="pointer" title="<?php echo $lang->translate('Publish'); ?>"> <i class="icon-ok"></i> </a>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
			<?php if(count($this->contents)>0):?>
					<a id="section_preview_<?php echo $this->info['id']; ?>" class="pointer" title="<?php echo $lang->translate('Preview'); ?>"> <i class="icon-eye-open"></i> </a>					
					<a id="preview" class="hide" href="#front_container"></a>
			<?php endif; ?>
			<?php if($this->website_data[0]->prints == 'yes'){ 
				//Get prints of actual section
				$section_prints_aux = new Core_Model_SectionPrints();
				$section_prints = $section_prints_aux->find('wc_section_prints',array('section_id'=>$this->info['id']));
				if(count($section_prints)>0){
					echo $lang->translate('Prints').': '.$section_prints[0]->count;
				}else
				{
					echo $lang->translate('Prints').': 0';
				}
				
			}?>
		</span>
		<?php foreach($this->cms_links as $action_id => $opt): ?>
		<?php if($opt['action']=='publish'): ?>
			<?php if($this->available_temp):?>
			<div class="row-fluid">
				&nbsp;
				<div class="alert alert-warning general_legend_text">
					<div class="legend_inner_left">
						<i class="icon-warning-sign"></i>
					</div>
					<div class="right">
						<?php echo $lang->translate('Dismiss changes to keep your website as it is published.');?>
						<a id="keep_current_<?php echo $this->info['id']; ?>" class="pointer"> <i class="icon-repeat"></i> </a>
					</div>
				</div>
			</div>
			<?php endif; ?>
		<?php endif; ?>
		<?php endforeach; ?>
	</div>	
	<input type="hidden" id="section_id" name="section_id" value="<?php echo $this->info['id']; ?>">
	<input type="hidden" id="section_parent_id" name="section_parent_id" value="<?php echo $this->info['section_parent_id']; ?>">
</div>
<?php endif;?>

<?php if (count($this->articles)>0 || count($this->contents)>0 || count($this->subsections)>0): ?>
<div class="row-fluid">
	<div class="alert alert-info general_legend_text">
		<div class="legend_inner_left">
			<i class="icon-info-sign"></i>
		</div>
		<div class="right">
			<i class="icon-pencil"></i> <?php echo $lang->translate('Update'); ?> &nbsp;&nbsp;
			<i class="icon-trash"></i> <?php echo $lang->translate('Delete'); ?> &nbsp;&nbsp;
			<i class="icon-move"></i> <?php echo $lang->translate('Order'); ?> 
		</div>
	</div>
</div>
<?php endif; ?>

<div class="row-fluid hide">
	<div id="front_container" class="row-fluid"></div>
</div>

<?php if (count($this->articles)>0): ?>
<div class="row-fluid">
	<div class="page-header-wica center">
		<h1><?php echo $lang->translate('Articles list'); ?></h1>
	</div>
</div>
	
<form action="#" method="post" name="frmArticlesOrder" id="frmArticlesOrder">
	<div class="row-fluid table-bordered-header">	
		<div class="span6"><b><?php echo $lang->translate('Article'); ?></b></div>
		<div class="span1"><b><?php echo $lang->translate('Order'); ?></b></div>
		<div class="span4 last"><b><?php echo $lang->translate('Tools'); ?></b></div>
	</div>
	
	<div id="article_sortable">		
		<?php foreach ($this->articles as $k => $entry): ?>
		<div class="row-fluid table-bordered-content <?php if(($k+1)%2): echo "odd"; endif;?>" id="<?php echo $entry->temp.'_'.$entry->id; ?>">				
			<div class="span6">
				<div class="row-fluid no-border">	
					<?php if($entry->image):?>				
					<div class="span3 no-border">
						<?php echo GlobalFunctions::getContentPreviewForList($entry->image);?> 
					</div>
					<?php endif; ?>
					<div class="pointer <?php if($entry->image):?> span8 <?php else: ?> span11 <?php endif; ?> no-border" id="tree_<?php echo $entry->id; ?>" section_parent="<?php echo $this->info['id']; ?>" article="<?php echo $entry->article; ?>" editable_section="<?php echo $entry->editable_section; ?>" temp="<?php echo $entry->temp; ?>">
						<div class="row-fluid no-border article_title">
							<b> <?php echo $this->escape($entry->title); ?> </b>								
						</div>
						<div class="row-fluid no-border article_synopsis">								
							<?php echo $entry->synopsis; ?>
						</div>
					</div>
				</div>				
			</div>
			<div class="span1 handler move"><i class="icon-move"></i></div>
			<div class="span4 last pointer">
				<?php if($entry->editable_section=='yes'): ?>
					<a id="edit_article_<?php echo $entry->id; ?>" temp="<?php echo $entry->temp; ?>" section_id="<?php echo $entry->id; ?>" section_parent="<?php echo $this->info['id']; ?>" article="<?php echo $entry->article; ?>" title="<?php echo $lang->translate('Update'); ?>"><i class="icon-pencil"></i> </a>/
				<?php endif; ?>
				<?php if($entry->erasable_section=='yes'): ?>
					<a id="delete_article_<?php echo $entry->id; ?>" title="<?php echo $lang->translate('Delete'); ?>"><i class="icon-trash"></i> </a>
				<?php endif; ?>
			</div>
		</div>					
		<?php endforeach; ?>
	</div>
	
	<div class="row-fluid">
		<input type="hidden" id=section_order name="section_order" value="">
		<input type="hidden" id="identifier" name="identifier" value="sections" />
		<br>  
		<input type="button" id="save_article_order" name="save_article_order" class="btn btn-success" value="<?php echo $lang->translate('Save order'); ?>">
	</div>		
</form>
<?php endif; ?>


<?php if(count($this->contents)>0):?>
<div class="row-fluid">
	<div class="page-header-wica center">
		<h1><?php echo $lang->translate('Content list'); ?></h1>
	</div>
</div>

<form action="#" method="post" name="frmContentOrder" id="frmContentOrder">
	<div class="row-fluid">
		<div>
			<div class="row-fluid table-bordered-header">	
				<div class="span3"><b><?php echo $lang->translate('Content'); ?></b></div>
				<div class="span1"><b><?php echo $lang->translate('Type'); ?></b></div>
				<div class="span3"><b><?php echo $lang->translate('Internal name'); ?></b></div>
				<div class="span1"><b><?php echo $lang->translate('Order'); ?></b></div>
				<div class="span4 last"><b><?php echo $lang->translate('Tools'); ?></b></div>
			</div>
		</div>
		<div id="content_sortable" class="line">
		<?php foreach ($this->contents as $key => $content): ?>		
			<div class="row-fluid table-bordered-content <?php if($key%2==0)echo 'odd'; else echo 'even';?>" id="<?php echo $content['temp'].'_'.$content['id']; ?>">			
				<div class="span3 content_field_list pointer" <?php if($content['type'] != 'Image'): ?> id="<?php echo 'edit_content_'.$content['id']; ?>" content_id="<?php echo $content['id']; ?>" <?php endif; ?>>					
					<?php echo GlobalFunctions::getContentPreviewForList($content);?>					
				</div>
				<div class="span1 content_field_list"><i class="<?php echo GlobalFunctions::getContentIcons(strtolower($content['type'])); ?>"></i></div>
				<div class="span3 content_field_list"><?php echo utf8_encode($content['internal_name']); ?></div>
				<div class="span1 content_field_list handler move"><i class="icon-move"></i></div>
				<div class="span4 content_field_list last visible pointer">					
			    	<div class="span1 no-border">
			    		<?php foreach($this->cms_links as $action_id => $opt): ?>
							<?php if($opt['action']=='edit'): ?>
								<a id="<?php echo 'edit_content_'.$content['id']; ?>" content_id="<?php echo $content['id']; ?>" section_id="<?php echo $this->info['id']; ?>" title="<?php echo $lang->translate('Update'); ?>"> <i class="icon-pencil"></i> </a>
								/
							<?php endif; ?>
			    			<?php if($content['serial_cbs']): ?>
				    			<?php if($opt['action']=='delete'): ?>	    			
				    			<a id="<?php echo 'erase_content_'.$content['id']; ?>" content_id="<?php echo $content['id']; ?>" content_by_sec="<?php echo $content['serial_cbs']; ?>" temp="<?php echo $content['temp'] ?>" title="<?php echo $lang->translate('Delete'); ?>"> <i class="icon-trash"></i> </a>
				    			/
				    			<?php endif;?>
			    			<?php endif;?>			    			
			    		<?php endforeach; ?>
			    	</div>
			    	<div class="span3 no-border">
				    	<ul class="nav tools_list_container">
				    		<li class="dropdown tools_list">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="cols_container_<?php echo $content['id'];?>" title="<?php echo $lang->translate('Columns'); ?>">
								   <i class="icon-th-list"></i>
								   <span id="value_cols_<?php echo $content['id'];?>">
								   		<?php $aux_count=1;  
								   			  while($aux_count<=$this->columns){
								   					if($aux_count==$content['column_number']){
								   						echo  $aux_count;
								   					}
								   			  $aux_count++; }?>	
								   </span>
								   <b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu cols_tools_list">
							    	<?php $aux_count=1;
							    		  while($aux_count<=$this->columns){ ?>
							    			<li><a id="cols_<?php echo $aux_count;?>" class="pointer" val="<?php echo $aux_count;?>" content_id="<?php echo $content['id'];?>"><?php echo $aux_count;?></a></li>
							    	<?php $aux_count++; }?>
							    </ul>
						    </li>
						    <li class="dropdown tools_list">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="align_container_<?php echo $content['id'];?>" title="<?php echo $lang->translate('Align'); ?>">
								   <i class="icon-resize-horizontal"></i>
								   <span id="value_align_<?php echo $content['id'];?>">
								   		<?php switch($content['align']){
								   			case "left":
								   				echo $lang->translate('Left');
								   				break;
							   				case "center":
							   					echo $lang->translate('Center');
							   					break;
						   					case "right":
						   						echo $lang->translate('Right');
						   						break;
								   		}?>
								   </span>
								   <b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu align_tools_list">
							    	<li><a id="align_opt_left" class="pointer" val="left" content_id="<?php echo $content['id'];?>"><?php echo $lang->translate('Left');?></a></li>
							    	<li><a id="align_opt_center" class="pointer" val="center" content_id="<?php echo $content['id'];?>"><?php echo $lang->translate('Center');?></a></li>
							    	<li><a id="align_opt_right" class="pointer" val="right" content_id="<?php echo $content['id'];?>"><?php echo $lang->translate('Right');?></a></li>
							    </ul>
						    </li>
						 </ul>				    	
						<input type="hidden" id="<?php echo 'content_columns_'.$content['id']; ?>" name="<?php echo 'content_columns_'.$content['id']; ?>" value="<?php if($content['align']): echo $content['column_number']; else: echo "1"; endif; ?>" />
						<input type="hidden" id="<?php echo 'content_align_'.$content['id']; ?>" name="<?php echo 'content_align_'.$content['id']; ?>" value="<?php if($content['align']): echo $content['align']; else: echo ""; endif; ?>" />
					</div>
				</div>
				
			</div>
		<?php endforeach; ?>	
		</div>
		<div class="row-fluid">
			<div class="alert alert-info general_legend_text">
				<div class="legend_inner_left">
					<i class="icon-info-sign"></i>
				</div>
				<div class="right">
					<i class="icon-text-height"></i> <?php echo $lang->translate('Text'); ?> &nbsp;&nbsp;
					<i class="icon-picture"></i> <?php echo $lang->translate('Image'); ?> &nbsp;&nbsp;
					<i class="icon-share"></i> <?php echo $lang->translate('Link'); ?> &nbsp;&nbsp;
					<i class="icon-list-alt"></i> <?php echo $lang->translate('Form'); ?> &nbsp;&nbsp;
					<i class="icon-play-circle"></i> <?php echo $lang->translate('Flash'); ?> &nbsp;&nbsp;
					<i class="icon-facetime-video"></i> <?php echo $lang->translate('Flash Video'); ?> &nbsp;&nbsp;
					<i class="icon-film"></i> <?php echo $lang->translate('Carousel'); ?> &nbsp;&nbsp;
					<span class="legend_separator">&nbsp;</span>&nbsp;&nbsp;
					<i class="icon-th-list"></i> <?php echo $lang->translate('Columns'); ?> &nbsp;&nbsp;
					<i class="icon-resize-horizontal"></i> <?php echo $lang->translate('Align'); ?>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<input type="hidden" id="content_order" name="content_order" value="" />
			<input type="hidden" id="identifier" name="identifier" value="contents" />
			<input type="hidden" id="content_owner" name="content_owner" value="section" />
			<br>  
			<input type="button" id="save_content_order" name="save_content_order" class="btn btn-success" value="<?php echo $lang->translate('Save order'); ?>">
		</div>
	</div>
</form>	
<?php else:?>
	<?php if(!count($this->subsections)>0):?>
		<div class="row-fluid center">
			<h3><?php echo $lang->translate('No Content Available'); ?></h3>
		</div>
	<?php endif;?>
<?php endif;?>

<?php if (count($this->subsections)>0): ?>
<div class="row-fluid">
	<div class="page-header-wica center">
		<h1><?php echo $lang->translate('Subsections list'); ?></h1>
	</div>
</div>
	
<form action="#" method="post" name="frmSubsectionsOrder" id="frmSubsectionsOrder">
	<div class="row-fluid table-bordered-header">	
		<div class="span6"><b><?php echo $lang->translate('Subsection name'); ?></b></div>
		<div class="span1"><b><?php echo $lang->translate('Order'); ?></b></div>
		<div class="span4 last"><b><?php echo $lang->translate('Tools'); ?></b></div>
	</div>
	
	<div id="subsection_sortable" class="line">
		<?php $section = new Core_Model_Section(); ?>
		<?php foreach ($this->subsections as $k => $entry): ?> 
		<div class="row-fluid table-bordered-content <?php if(($k+1)%2): echo "odd"; endif;?>" id="<?php echo $entry->temp.'_'.$entry->id; ?>">
			<?php $children_sections = $section->find('wc_section', array('section_parent_id'=>$entry->id), array('order_number'=>'ASC')); ?>	
			<div class="span6 pointer"><a id="tree_<?php echo $entry->id; ?>" section_parent="<?php echo $this->info['id']; ?>" article="<?php echo $entry->article; ?>" editable_section="<?php echo $entry->editable_section; ?>" temp="<?php echo $entry->temp; ?>"> <?php if(count($children_sections)>0): ?> <i class="icon-plus"></i> <?php endif; ?> <?php echo $this->escape($entry->title); ?> </a></div>
			<div class="span1 handler move"><i class="icon-move"></i></div>
			<div class="span4 last pointer">
				<?php if($entry->editable_section=='yes'): ?>
					<a id="edit_section_<?php echo $entry->id; ?>" temp="<?php echo $entry->temp; ?>" editable_section="<?php echo $entry->editable_section; ?>" section_id="<?php echo $entry->id; ?>" section_parent="<?php echo $this->info['id']; ?>" article="<?php echo $entry->article; ?>" title="<?php echo $lang->translate('Update'); ?>"><i class="icon-pencil"></i> </a>/
				<?php endif; ?>
				<?php if($entry->erasable_section=='yes'): ?>
					<a id="delete_section_<?php echo $entry->id; ?>" title="<?php echo $lang->translate('Delete'); ?>"><i class="icon-trash"></i> </a>
				<?php endif; ?>					
			</div>			
		</div>					
		<?php endforeach; ?>
	</div>
	
	<div class="row-fluid">
		<div class="alert alert-info general_legend_text">
			<div class="legend_inner_left">
				<i class="icon-info-sign"></i>
			</div>
			<div class="right">
				<i class="icon-plus"></i> <?php echo $lang->translate('Has Subsections'); ?> &nbsp;&nbsp;
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<input type="hidden" id=subsection_order name="subsection_order">
		<input type="hidden" id="identifier" name="identifier" value="sections" />
		<br>
		<input type="button" id="save_subsection_order" name="save_subsection_order" class="btn btn-success" value="<?php echo $lang->translate('Save order'); ?>">
	</div>
</form>
<?php endif; ?>
