<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Layout Default</title>
  </head>
  <body>
  	<h1>Layout Default</h1>
    <?php
    echo $this->layout()->content;
    ?>
  </body>
</html>
